/* здесь используйте глобальные селекторы img, body, html и так далее */
@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $font-family-text;
  font-size: $base-size;
}
