/* FONT */
$font-family-title: "Comfortaa", "Arial", sans-serif;
$font-family-text: "Raleway", "Arial", sans-serif;
$base-size: 16;

/* DISPLAY */
$width-large: 1440;
$width-medium: 768;
$width-small: 320;

/* COLOR */
$color-bg-main: hsla(220, 60%, 99%, 1);
$color-bg-secondary: hsla(215, 62%, 97%, 1);
$color-bg-muted: hsla(144, 5%, 58%, 0.7);

$color-text-primary: hsla(0, 0%, 0%, 1);
$color-text-secondary: $color-bg-main;
$color-text-muted: $color-bg-muted;

$color-primary: hsla(291, 77%, 27%, 1);
$color-primary-hover: hsla(291, 63%, 48%, 1);
$color-primary-active: hsla(291, 77%, 27%, 0.6);

$color-success: hsla(161, 79%, 28%, 1);
$color-success-hover: hsla(87, 91%, 45%, 1);
$color-success-active: hsla(161, 79%, 28%, 0.5);

$color-error: hsla(0, 100%, 75%, 1);
