/* GLOBAL */
@import "./common/variables.scss";
@import "./common/function.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";
@import "./common/utils.scss";

/* BLOCKS */
@import "./blocks/burger.scss";
@import "./blocks/button.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/radio.scss";
@import "./blocks/input.scss";
@import "./blocks/logo.scss";
@import "./blocks/social.scss";
@import "./blocks/card.scss";
@import "./blocks/post.scss";
@import "./blocks/map.scss";
@import "./blocks/address.scss";
/* LAYOUTS */
@import "./layouts/grid.scss";
@import "./layouts/page.scss";
@import "./layouts/body.scss";
@import "./layouts/header.scss";
@import "./layouts/navigation.scss";
@import "./layouts/hero.scss";
@import "./layouts/catalog.scss";
@import "./layouts/newsletter.scss";
@import "layouts/contacts";
@import "./layouts/footer.scss";
@import "./layouts/delivery.scss";
