@import "../common/variables.scss";
@import "../common/function.scss";

.contacts {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1fr);
  gap: rem(21);
  padding: 0 rem(17);
  margin-bottom: rem(100);
  @media (max-width: $width-large) {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: rem(40);
  }
  @media (max-width: $width-medium - 1) {
    gap: rem(26);
    margin-bottom: rem(60);
  }
}
.contacts__info {
  order: 1;
  @media (max-width: $width-large) {
    order: -1;
  }
}
.contacts__map {
  order: -1;
  @media (max-width: $width-large) {
    order: 1;
    min-width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
