@import "../common/function.scss";
@import "../common/variables.scss";

.navigation__container {
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(28);
  row-gap: rem(16);
  margin: rem(5) rem(36) 0 rem(35);
  padding: 0;
  list-style-type: none;
  @media (max-width: $width-large) {
    gap: rem(16);
    margin-right: 0;
  }
  @media (max-width: ($width-medium - 1)) {
    display: none;
  }
  &--open {
    @media (max-width: ($width-medium - 1)) {
      position: absolute;
      left: 0;
      top: fluid(68, 85, 110);
      display: flex;
      flex-direction: column;
      row-gap: rem(31);
      width: 100%;
      padding: 34px 40px;
      margin: 0;
      background-color: $color-bg-secondary;
      z-index: -2;
    }
  }
}
.navigation__item {
  min-width: rem(132);
  @media (max-width: $width-large) {
    min-width: rem(112);
  }
  @media (max-width: $width-medium - 1) {
    min-width: fit-content;
  }
}
.navigation__link {
  font-size: rem(20);
}
