@import "../common/variables.scss";
@import "../common/function.scss";

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: rem(40);
  box-shadow: $shadow-primary;
  overflow: hidden;
  justify-items: center;
}
.card__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(30) rem(22);
  text-align: center;
}
.card__title {
  margin-top: 0;
  margin-bottom: rem(29);
  font-family: $font-family-text;
  color: $color-success;
  @media (max-width: $width-medium) {
    font-size: rem(28);
  }
}
.card__details {
  width: rem(120);
  max-width: rem(120);
  margin-top: 0;
  margin-bottom: rem(38);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  font-size: rem(18);
  gap: rem(15);
  word-wrap: break-word;
}
.card__price {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: rem(4);
  word-wrap: anywhere;
}
.card__price::after {
  content: $currency-primary;
}
.card__weight {
  margin: 0;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: rem(4);
  word-wrap: anywhere;
}
.card__weight::after {
  content: $weight-primary;
}
.card__picture {
  order: -1;
}
.card__image {
  display: flex;
  object-fit: cover;
}
.card__button {
  padding: rem(16);
  width: 100%;
  max-width: rem(220);
  justify-content: center;
  font-size: rem(20);
  letter-spacing: rem(1);
  margin-left: rem(4);
  margin-bottom: rem(calc(54 - 30));
  box-shadow: none;
}
