@import "../common/variables.scss";
@import "../common/function.scss";

.checkbox {
  display: inline-flex;
  align-items: center;
  column-gap: rem(12);
  width: fit-content;
  cursor: pointer;
  &:hover .checkbox__input {
    border-color: $color-success-hover;
  }
  &:active .checkbox__input {
    border-color: $color-success-active;
  }
  &:focus-within .checkbox__input {
    border-color: $color-success-hover;
  }
  input[type='checkbox']:disabled ~ .checkbox__input {
    border-color: $color-bg-muted;
  }
  input[type='checkbox']:checked ~ .checkbox__input::before {
    background-color: $color-success;
    opacity: 1;
    mask-image: url("../../icons/checked.svg");
    transition: background-color 0.15s ease, opacity 0.05s ease;
  }
  &:hover input[type='checkbox']:checked ~ .checkbox__input::before {
    background-color: $color-success-hover;
  }
  &:active input[type='checkbox']:checked ~ .checkbox__input::before {
    background-color: $color-success-active;
  }
}
.checkbox__input {
  position: relative;
  display: inline-flex;
  min-width: rem(24);
  min-height: rem(24);
  border: 2px solid $color-success;
  border-radius: rem(5);
  transition: border-color 0.15s ease;
}
.checkbox__input::before {
  content: "";
  position: absolute;
  min-width: rem(14);
  min-height: rem(11);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
}
.checkbox__value {
  align-self: center;
  margin-top: -1px;
  font-family: $font-family-text;
  font-size: rem(18);
  @media (max-width: $width-medium - 1) {
    font-size: rem(16);
  }
}
