@import "../common/function.scss";
@import "../common/variables.scss";

.input {
  display: flex;
  flex-direction: column;
  row-gap: rem(4);
  &:hover .input__value:not(:disabled, .input__value--error) {
    border-color: $color-success-hover;
  }
  &:active .input__value:not(:disabled, .input__value--error) {
    border-color: $color-success-hover;
  }
  &:focus .input__value {
    border-color: $color-success-hover;
  }
}
.input__value {
  width: 100%;
  padding: rem(16) rem(12) rem(15);
  font-family: inherit;
  font-size: rem(16);
  border: 1px solid $color-success;
  border-radius: rem(20);
  outline: none;
  resize: none;
  &--error {
    border-color: $color-error;
  }
  &:disabled {
    border-color: $color-bg-muted;
  }
  &:required ~ .input__label {
    &::after {
      content: '*';
      display: inline-flex;
      font-size: rem(16);
      color: $color-error;
    }
  }
}
.input__label {
  order: -1;
  display: inline-flex;
  column-gap: rem(4);
  margin: 0 0 0 rem(12);
  font-family: inherit;
  font-size: rem(16);
  color: $color-text-primary;
  @media (max-width: $width-medium - 1) {
    font-size: rem(14);
    margin-top: 1px;
  }
}
.input__message {
  display: none;
  margin-left: rem(12);
  font-size: rem(16);
  color: $color-error;
  &--error {
    display: flex;
  }
}

