@import "../common/function.scss";
@import "../common/variables.scss";

.map {
  width: 100%;
  height: rem(372);
  overflow: hidden;
}

.map-no-js {
  background-image:
    image-set(
      url("../../images/map/map@1x.avif") type("image/avif") 1x,
      url("../../images/map/map@2x.avif") type("image/avif") 2x,
      url("../../images/map/map@1x.webp") type("image/webp") 1x,
      url("../../images/map/map@2x.webp") type("image/webp") 2x,
      url("../../images/map/map@1x.jpg") type("image/jpg") 1x,
      url("../../images/map/map@2x.jpg") type("image/jpg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
}

.map__container {
  display: inline-flex;

  @media (max-width: $width-large) {
    width: 100%;
  }
}
