@import "../common/variables.scss";
@import "../common/function.scss";

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: rem(30) rem(35) rem(41) rem(34);
  border: 2px solid $color-success;
  border-radius: rem(40);
  @media (max-width: $width-medium - 1) {
    padding: rem(14) rem(19) rem(18) rem(18);
  }
}
.post__title {
  align-content: center;
  flex-basis: rem(99);
  margin: 0 0 rem(21) 0;
  font-family: $font-family-text;
  font-size: rem(28);
  font-weight: normal;
  text-align: center;
  @media (max-width: $width-large) {
    flex-basis: rem(103);
  }
  @media (max-width: $width-medium) {
    flex-basis: rem(101);
    margin-bottom: rem(23);
  }
  @media (max-width: $width-medium - 1) {
    font-size: rem(20);
    max-width: rem(204);
    margin: 0 auto rem(3) auto;
  }
}
.post__text {
  margin: 0 0 rem(53) 0;
  @media (max-width: $width-large) {
    font-size: rem(16);
    margin-bottom: rem(23);
  }
  @media (max-width: $width-medium - 1) {
    font-size: rem(14);
    line-height: rem(16);
  }
}
.post__text br {
  @media (max-width: $width-medium - 1) {
   display: none;
  }
}
.post__footer {
  margin-top: auto;
  text-align: right;
  padding-bottom: rem(65);
  @media (max-width: $width-large) {
    padding-bottom: rem(64);
  }
  @media (max-width: $width-medium - 1) {
    padding: 0 0 rem(51) 0;
  }
}
.post__datetime {
  font-size: rem(16);
  @media (max-width: $width-medium - 1) {
    font-size: rem(14);
  }
}
.post__leaf {
  background-image: url("../../icons/leaf-post.svg");
  background-size: rem(96);
  background-repeat: no-repeat;
  background-position: center rem(21);
  @media (max-width: $width-medium - 1) {
    background-size: rem(76);
    background-position-y: rem(15);
  }
}
